<a href="/home" class="btn btn-default btn-sm">Home</a>
<a href="/accountm" class="btn btn-default btn-sm">Account Manager</a>
<a href="/plugins" class="btn btn-default btn-sm">Plugins</a>
<a href="/status" class="btn btn-default btn-sm">Server Status</a>
<a href="/logout" class="btn btn-default btn-sm">Logout</a>
