<a href="/home" class="btn btn-default btn-sm">Home</a>
<% if (user.admin){ %>
<a href="/accountm" class="btn btn-default btn-sm">Account Manager</a>
<a href="/status" class="btn btn-default btn-sm">Server Status</a>
<% }                %>
<a href="/plugins" class="btn btn-default btn-sm">Plugins</a>

<a href="/logout" class="btn btn-danger btn-sm">Logout</a>
