<!-- views/accountm.ejs -->
<!doctype html>
<html>
<head>
	<title>Accounts Manager</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-user"></span>Accounts</h1>
		<% include ./partials/menu.ejs %>
	</div>
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
			<div class="well">
				<a href="/adduser" class="btn btn-default btn-sm">Add User</a>
				<h3>Accounts list</h3>
				<p>
					<table  cellpadding="8" cellspacing="1" width="100%">
						<tr>
      					<th>Username</th>
      					<th>Email</th>
      					<th>Role</th>
   					</tr>
			<%	for( i = 0; i < users.length; i ++){ %>
							<tr>
								<th> <a href="/account/:<%= users[i].username %>">	<%= users[i].username %> </a> </th>
								<th>	<%= users[i].email %> </th>
								<th>  <% if (users[i].admin === 0){ %>
													user
											<% }else if(users[i].admin === 1){ %>
													admin
											<% }else if(users[i].admin === 2){ %>
													mod
											<% }else{ %>
													unknown
											<% }      %></th>
							</tr>
			<%	} %>
					</table>



			</div>
		</div>
	</div>
</div>
	<% include ./partials/footer %>
</body>
</html>
