<!-- views/home.ejs -->
<!doctype html>
<html>
<head>
	<title>JACK's homepage</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-globe"></span>Home Page</h1>
		<% include ./partials/menu.ejs %>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-8 col-sm-offset-2" >
			<div class="well">
				<center><h3>Welcome to JACK!</h3>

				<p>
					JACK is a Java cartographic app ! <br/>
				</p>
				<p>
					JAVA Advanced Cartographic Kernel is a geo referenced 3D cartography <br/> application which has been built in order to provide a simple and customizable <br/> library for Java developpers who wants to work with a cartography API without <br/> any knowledges in this domain.<br/>

					This application has been developped by JACK Enterprise, a small ESGI's 3 <br> students organization : <br/>
				</p>
				<p>
    			Aurélien DUVAL <br/>
    			Maxime PELTE 	 <br/>
    			Amram ELBAZ		 <br/>
				</p>
				<p>
					<a href="https://github.com/JACK-Enterprise/JACK"> GET JACK! </a>

				</p>
				</center>
			</div>
		</div>

	</div>

</div>
	<% include ./partials/footer %>
</body>
</html>
