<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>JACK Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> JACK Authentication </h1>

            <p>Login</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        </div>
    </div>
			<% include ./partials/footer %>
</body>
</html>
